<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE logback>
<included>

    <appender name="FLUENT" class="ch.qos.logback.more.appenders.DataFluentAppender">
        <tag>alfred</tag>
        <label>logback</label>
        <remoteHost>localhost</remoteHost>
        <port>24224</port>
        <maxQueueSize>999</maxQueueSize>
        <additionalField>
            <key>function</key>
            <value>alfred</value>
        </additionalField>
    </appender>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern><![CDATA[%date{HH:mm:ss.SSS} [%thread] %-5level %logger{15}#%line %msg\n]]></pattern>
        </encoder>
    </appender>

</included>